.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-image: url("../assets/background.jpg");
  background-attachment: fixed;
 
 
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
    backdrop-filter: blur(5px);
  }
}

.lateral {
  
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  z-index: 2;

}


@media screen and (max-width: 764px) {
  .lateral {
    width: 100%;
    margin-left: 0;
  }
  .container{
    background-position-x: center;
    overflow-y: scroll;
    &::after {
      min-height: 120%;

    }
  }
}
