@import "../../../styles.scss";
.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .demo-inline-calendar-card {
    width: 300px;
  }
}
.info-block {
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.mark {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(90, 90, 90, 0.45);
    border-radius: 10px;
  }

  &.init {
    &:after {
      content: "";
      position: absolute;

      background-color: rgba(30, 255, 0, 0.45);
    }
  }

  &.end {
    &:after {
      content: "";
      position: absolute;

      background-color: rgba(255, 4, 0, 0.45);
    }
  }
}
.block-calendar{
  min-height: 400px;
}
.block-note {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.block-note ul {
  padding: 0;
  margin: 10px;
  list-style: none;


}

.block-note li {
  margin-bottom: 10px;
  ::before {
    content: '\2022'; 
    color: $link-color;
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
  }
}

.void-block-note {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.void-block-note h2 {
  color: #333;
}

.void-block-note p {
  color: #666;
}

.block-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 764px) {
  .demo-inline-calendar-card {
    width: 200px;
  }
}
