@import "../../../styles.scss";
.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .demo-inline-calendar-card {
    width: 300px;
    
  }

}
.info-block{
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.mark{
position: relative;
color:#000;
&:after{
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 0, 0, 0.45);
        border-radius: 10px;
       
    }
}
@media screen and (max-width: 764px) {
  .demo-inline-calendar-card {
    width: 200px;
    
  }


}