<div class="box">

    <form  [formGroup]="form" (ngSubmit)="submitForm()" >
        <fieldset>
            <img src="assets/calle.png" alt="" srcset="">
            <div class="form-field">
              
                <input name="name" placeholder="seu nome" formControlName="name" [formControl]="form.controls.name">
            </div>
            <div class="form-field">
               
                <input name="email" placeholder="seu e-mail" formControlName="mail" [formControl]="form.controls.mail">
            </div>
            
            <div class="form-field">
           
                <input placeholder="sua senha" name="password" formControlName="password"  
                       type="password" [formControl]="form.controls.password">
            </div>
            <div class="form-field">
              
                <input name="password-repite" placeholder="sua senha novamente" formControlName="passwordRepite" [formControl]="form.controls.passwordRepite" 
                       type="password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button class="button button-primary" [class.disabled]="form.invalid">Cadastre-se no Events Callendar</button>
            <a href="login">já possui uma conta?</a>
        </div>
    </form>
</div>