<div *ngIf="visible"> 
  <button class="button-expand" (click)="changeVisibile()" >
    <mat-icon>{{max?'keyboard_arrow_right':'keyboard_arrow_left'}}</mat-icon>
  </button>

<nav [class.max]="max" [class.min]="!max">

      <ul>
   
      <li><a href="/"><mat-icon fontIcon="face"></mat-icon> <span class="info">Perfil</span></a></li>
      <li><a href="/calendar"><mat-icon fontIcon="calendar_today"></mat-icon> <span class="info">Meu Calendário</span></a></li>
      <li><a href="/invites"><mat-icon fontIcon="mail_outline"></mat-icon> <span class="info">Convites</span></a></li>
      <li><a href="/events/me"><mat-icon fontIcon="event"></mat-icon> <span class="info">Meus Eventos</span></a></li>
      <li><a href="/events/all"><mat-icon fontIcon="group"></mat-icon> <span class="info">Eventos abertos</span></a></li>
      <li><a href="/logout"><mat-icon fontIcon="exit_to_app"></mat-icon> <span class="info">Sair</span></a></li>
   
    </ul>
  </nav>

</div>