<div class="box">
   

    <div class="profile-container">
        <button class="edit-button" (click)="openDialogEdit()">edit</button>
        <app-profile image={{user?.profile}} />
        <div class="block-info">

            <div class="profile-name">{{user?.name}}</div>
            <div class="profile-email">{{user?.mail}}</div>
        </div>
    </div>


    <div *ngIf="user?.mailVerify==false" class="warning">
        <p>Acesse seu e-mail para validar sua conta!</p>
    </div>
    <div class="container-sections" *ngIf="user?.mailVerify">

        <div class="section">
            <h2>Convites:</h2>

            <ul>
                <li>Evento 1</li>
                <li>Evento 2</li>
                <li>Evento 3</li>
            </ul>
            <a href="/invites">ir para</a>
        </div>


        <div class="section">
            <h2>Aguardando aprovação:</h2>

            <ul>
                <li>Evento 4</li>
                <li>Evento 5</li>
                <li>Evento 6</li>
            </ul>
            <a href="/applicant">ir para</a>

        </div>

        <div class="section">
            <h2>participando</h2>

            <ul>
                <li>Evento 4</li>
                <li>Evento 5</li>
                <li>Evento 6</li>
            </ul>
            <a href="/participant">ir para</a>
        </div>

    </div>
</div>