<div class="box">


    <div class="profile-container">
        <button class="edit-button" (click)="openDialogEdit()"><mat-icon>edit</mat-icon></button>
        <app-profile image={{user?.profile}} />
        <div class="block-info">

            <div class="profile-name">{{user?.name}}</div>
            <div class="profile-email">{{user?.mail}}</div>
        </div>
    </div>


    <div *ngIf="user?.mailVerify==false" class="warning">
        <p>Acesse seu e-mail para validar sua conta!</p>
    </div>
    <div class="container-sections" *ngIf="user?.mailVerify">

        <div class="section">
            <h2>Convites:</h2>
            <ul>
                <li *ngFor="let event of eventsWhereImGuest"><a [href]="'/event/'+event._id">{{event.title}}</a></li>
            </ul>
            <div *ngIf="eventsWhereImGuest.length<1" class="info">
                Não há eventos nessa categoria.
            </div>
        </div>


        <div class="section">
            <h2>Aguardando aprovação:</h2>

            <ul>
                <li *ngFor="let event of eventsWhereImApplicant"><a [href]="'event/'+event._id">{{event.title}}</a>
                </li>
            </ul>
            <div *ngIf="eventsWhereImApplicant.length<1" class="info">
                Não há eventos nessa categoria.
            </div>
        </div>

        <div class="section">
            <h2>Participando</h2>

            <ul>
                <li *ngFor="let event of eventsWhereImParticipant"><a [href]="'/event/'+event._id">{{event.title}}</a>
                </li>
            </ul>
            <div *ngIf="eventsWhereImParticipant.length<1" class="info">
                Não há eventos nessa categoria.
            </div>
        </div>

    </div>
</div>