@import "../../../styles.scss";

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px $font-color;
  max-width: 450px;
  width: 100%;
  text-align: center;
  img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: font-color;
}

.form-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: $font-color;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    margin-top: 20px;
  }
}

.button {
  padding: 10px 20px;

  width: 80%;


}

