<div class="box">

    <form >
        <fieldset>
            <legend>Entrar na plataforma</legend>
            <div class="form-field">
                <label>Email:</label>
                <input name="email" formControlName="email">
            </div>
            <div class="form-field">
                <label>Senha:</label>
                <input name="password" formControlName="password" 
                       type="password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button class="button button-primary">Entre</button>
            <a href="register">ou cadastre-se</a>
        </div>
    </form>
</div>