<div class="box">

    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <img src="assets/calle.png" alt="" srcset="">
        <fieldset>
         
            <div class="form-field">
                
                <input name="email" placeholder="seu e-mail" formControlName="mail" [formControl]="form.controls.mail">
            </div>
            <div class="form-field">
               
                <input name="password" placeholder="sua senha" formControlName="password" type="password" [formControl]="form.controls.password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button type="submit" class="button button-primary" [class.disabled]="form.invalid">Entrar no Events Callendar</button>
            <a href="register">Não possui conta? cadastre-se</a>
        </div>
    </form>
</div>