<div class="event-card">
  <button mat-button class="edit-button" *ngIf="isMe==true" (click)="openEditorModal()">
    Editar
  </button>

  <div class="background" [style.backgroundImage]="'url('+(event?.background?event?.background :backgroundUpload) +')'">
    <div class="maskIsme" *ngIf="isMe">

      <input type="file" id="background" (change)="changeImage($event)">
      <label for="background"></label>
    </div>

    <i class="material-icons">event</i>
  </div>

  <div class="event-details">
    <div class="header">
      <h1>{{ event?.title }}</h1>
      <p>{{ dateStringInit }} - {{ dateStringEnd}}</p>
    </div>

    <div class="content">
      <div class="description">
        <h2>Descrição</h2>
        <p>{{ event?.describ }}</p>
      </div>

      <div class="info">
        <h2>Detalhes do Evento</h2>
        <ul>
          <li><strong>Privado:</strong> {{ event?.isPrivate ? 'Sim' : 'Não' }}</li>

        </ul>
      </div>
      <button mat-button *ngIf="(isMe && event?.isPrivate)||(!isMe)">{{isMe?'convidar':'participar'}}</button>
    </div>
  </div>
</div>